{{ define "main" }}

  {{ partial "heading.html" . }}

  {{ .Content }}

  {{ range .Pages.GroupByPublishDate "2006" }}
    <h3>{{ .Key }}</h3>
    <ul>
      {{ range .Pages }}
        <li>
          {{ .PublishDate.Format "Jan 2, 2006" }} – <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
      {{ end }}
    </ul>
  {{ end }}

{{ end }}
