html {
	font-size: 10px;
}

body {
	font-family: "Gentium Basic", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 2rem;
	line-height: 1.8;
	display: flex;
	flex-direction: column;
	min-height: 95vh;
	margin: 0;
	padding: 0;
	color: {{ site.Params.font_color -}};
	background-color: {{ site.Params.bg_color -}};
	text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Libre Baskerville", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h1 {
	font-size: 3.25rem;
}

h2 {
	font-size: 2.75rem;
}

h3 {
	font-size: 2.25rem;
}

h4 {
	font-size: 1.75rem;
}

h5 {
	font-size: 1.25rem;
}

main {
	flex-grow: 1;
}

img {
	max-width: 100%;
	border-radius: 0.2rem;
}

pre {
	overflow-x: auto;
	border: 0.1rem solid lightgray;
	padding: 1rem;
}

code {
	font-family: "Gentium Basic", SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 2rem;
}

ul {
	list-style-position: inside;
}

.event-date {
	font-size: 2.25rem;
}

.Banner {
	list-style: none;
	display: flex;
	flex-flow: row-reverse wrap-reverse;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

{{ $len := len site.Menus.nav -}}
{{ range seq $len -}}

.Banner-item:nth-child({{- . -}}) {
	order: {{ sub $len . | add 1 -}};
}

{{ end -}}

.Banner-item--title {
	flex-grow: 1;
}

.Banner-link {
	font-size: 2.5rem;
	color: white;
	padding: 0.5rem 0.75rem;
}

.Heading {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
}

.Heading-title {
	margin: 1.5rem 0.5rem 0 0;
}

.Heading-link {
	color: inherit;
}

.Tags {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 1.5rem 0;
	padding: 0;
}

.Tags-item {
	border-radius: 0.2rem;
	margin: 0.2rem;
	padding: 0 0.3rem;
}

.Tags-link {
	color: white;
}

{{ with site.Params.divider -}}

.Divider {
	display: flex;
	justify-content: center;
}

.Divider::after {
	content: "{{- . -}}";
}

{{- end }}

.Pagination {
	font-size: 2rem;
	color: inherit;
}

.Pagination--right {
	float: right;
}

.Footer {
	text-align: center;
	margin: 1rem 0;
}

.u-wrapper {
	{{ with site.Params.width -}}
	max-width: {{ . -}};
	{{- end }}
	margin: auto;
}

.u-padding {
	padding: 0 1rem;
}

.u-background {
	background: {{ site.Params.bar_color -}};
}

.u-clickable {
	font-weight: 600;
	font-style: normal;
	text-decoration: none;
	display: inline-block;
}

.events-list {
	list-style-type: none;
	list-style-position: inside;
	columns: 1;
	-webkit-columns: 1;
	-moz-columns: 1;
}

#event {
	text-align: center;
}
