<footer class="Footer">
  <div class="u-wrapper">
    <div class="u-padding">
      <a href="{{ "/" | relURL }}">Home</a>&#32;|&#32;
      <a href="{{ "contact" | relURL }}">Contact</a>&#32;|&#32;
      <a href="{{ "sitemap.xml" | relURL }}">Sitemap</a>
    </div>
  </div>
</footer>
