<header id="event-header">
	<div><h2 class="Heading-title">{{- .Title -}}</h2></div>
	<div id="event-location">{{- .Params.location -}}</div>
	{{ with $start := .Params.date -}}
		{{- with $end := $.Params.end_date -}}
			<div id="event-date">{{- dateFormat "Monday, January 2, 2006" (time $start) -}}<br>{{- dateFormat "03:04 PM" (time $start) }} to {{ dateFormat "03:04 PM" (time $end) -}}</div>
		{{- else -}}
			<div id="event-date">{{- dateFormat "Monday, January 2, 2006" (time $start) -}}<br>at {{ dateFormat "03:04 PM" (time $start) -}}</div>
		{{- end -}}
	{{- end }}
</header>
