<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{ with .Description -}}
	<meta name="description" content="{{- . -}}">
{{ else -}}
  {{ if .IsPage -}}
    <meta name="description" content="{{- .Summary -}}">
  {{ else -}}
    {{ with site.Params.description -}}
      <meta name="description" content="{{- . -}}">
    {{- end }}
  {{- end }}
{{- end }}
