{{ define "main" }}
	{{ $future := slice }}
	{{ $date_fmt := "2006-01-02T15:04:05" }}

  {{ partial "heading.html" . }}
  {{ .Content }}
	{{ range sort (where .Site.RegularPages "Section" "events") ".Params.date" }}
		{{ if ge (time .Params.date).Unix now.Unix }}
			{{ $future = $future | append . }}
		{{ end }}
	{{ end }}

	{{ if gt (len $future) 0 }}
		<h2>Upcoming Events</h2>

		<ul class="events-list">
		{{ range $future }}
			<li>
				{{ .PublishDate.Format "Jan 2, 2006" }} – <a href="{{ .RelPermalink }}">{{ .Title }}</a>
			</li>
		{{ end }}
		</ul>
	{{ end }}

{{ end }}
