{{ $path := .Get "path" }}
{{ $files := readDir $path }}

{{ $publicPath := replace $path "./static/" "" | relURL }}

{{ $months := "(January|February|March|April|May|June|July|August|September|October|November|December)" }}

<ul class="nomark">
{{ range sort $files "Name" "desc" }}
	{{ $lintName := replaceRE (printf "%s %s" $months $months) "${1}-${2}" (title (replaceRE "-" " " (replaceRE "^[0-9]{4}-[0-9]{2}-[0-9]{2}-" "" (replaceRE "(\\.[^.]+)$" "" .Name)))) }}
	<li>
		<a href="{{ $publicPath }}/{{ .Name }}" target="_blank">{{ $lintName }}</a>
	</li>
{{ end }}
</ul>
